#top{
    background-color:#1a120b;
    display: flex;
    text-decoration: none;
    /* list-style: none;  */
    font-size: 18px;
    color: aliceblue;
}
#button1{
    padding: 40px 35px ;
    /* margin-left: ; */
    
}
#button2{
    padding: 40px 35px ;
    margin-left: 10px;
    color: #a1a5a6;
}
#button3{
    padding:  40px 35px; /*เอาไว้เว้นระยะห่าง*/
    margin-left: 10px;
    color: #a1a5a6;
}

#command{
    padding-left: 800px;
    /* padding-right: 300px; */
    /* margin-right: 2rem; */
    display: flex;

}
